%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% etc/app.config
%%
{sasl_error_log,    "log/sasl-error.log"}.
{sasl_log_dir,      "log/sasl"}.
{mnesia_data_dir,   "data/mnesia"}.
{eas_api_ip,        "127.0.0.1"}.
{eas_api_port,      "5292"}.
{eas_api_backlog,   "1000"}.
{eas_api_log_dir,   "log/api"}.
{eas_api_dispatch_file, "etc/api_dispatch.conf"}.

%%
%% etc/vm.args
%%
{node,         "erlangapps_server@127.0.0.1"}.

%%
%% bin/erlangapps_server
%%
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.

