% -*- Erlang -*-
[
%% SASL config
 {sasl, [
         {sasl_error_logger, {file, "{{sasl_error_log}}"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{sasl_log_dir}}"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
	]},
    {erlangapps_server, [
        {api_ip, "{{ eas_api_ip }}"},
        {api_port, {{ eas_api_port }} },
        {api_backlog, {{ eas_api_backlog }} },
        {api_log_dir, "{{ eas_api_log_dir }}"},
        {api_dispatch_file, "{{eas_api_dispatch_file}}"}
    ]},
 {mnesia, [
	   {dir, "{{mnesia_data_dir}}"}
	  ]}
].

